.container-5 {
    margin-bottom: 180px;

    h2 {
        margin-bottom: 50px;
    }
}

.container-5__form {
    display: flex;
    justify-content: space-between;
    align-items: end;

}
