.container-4 {
    width: 100%;
    min-height: 560px;

    padding: 180px 0;

    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-position: center;
}

.containet-4__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 35px;
}

.container-4__text {
    max-width: 515px;
    h2 {
        margin-bottom: 50px;
    }
    p {
        line-height: 24px;
    }
}

.container-4__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    height: 170px;
}