.footer {
    padding: 60px 0px;

    background-color: $gray-bg;
}
.footer .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo-img {
    margin-bottom: 15px;
}

.logo-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
}

.footer__item-links {
    margin-bottom: 15px;
}

.footer__item-links:last-child {
    margin-bottom: 0;
}

.footer__link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.footer__link:hover {
    color: $dark-text;
}

.footer__list-about {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}

.footer__item-about {
    margin-bottom: 15px;

    a {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;

        color: $accent;
    }
}

.footer__item-about:last-child {
    margin-bottom: 20px;
}

.footer__list-socials {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 180px;
}